.page-style
{
    background-color: #333333;
    height: 100vh;
    border-radius: 20px;
    overflow-y: hidden; 
}

.containerPositionStyle
{
    height: 100%;
    overflow-y: scroll;
}

@media (max-width: 768px) { 
    .containerPositionStyle{
        display: flex;
        flex-flow: column-reverse;
    }
}

@media (min-width: 768px)
{
    .containerPositionStyle .col-md-3 {
        flex: 0 0 25%;
        max-width: 100%;
    }
}

.containerPositionStyle::-webkit-scrollbar {
    display: none;
  }
  