.rightInfoTab_Style
{
    height: 95vh;
    max-width: 100%;
    background-color: #1a1a1a;
    margin: 25px auto;
    width: 98%;
    border-radius: 20px;
    overflow-y: scroll;;
}

.titleStyle
{
    color: white;
    font-size: 2rem;
    padding-left: 4%;
    font-weight: 400;
}

.navBgSet
{
    width: 100%;
}

.rightInfoTab_Style::-webkit-scrollbar {
    display: none;
}

.container-Image-style
{
    display: flex;
}

.container-Image-style .information-wrapper:nth-child(2)
{
    margin-left: 20px;
}

@media (max-width: 768px) { 
    .container-Image-style
    {
        display: flex;
        flex-direction: column;
    }

    .container-Image-style .information-wrapper:nth-child(2)
    {
        margin-left: 0px;
    }

    .information-wrapper
    {
        margin-top: 10px;
    }
}